@import './variables';

*{
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

body{
    background-color: $gray-100;
    width: 100%;
    height: 100%;

    padding: 0;
    margin: 0;

    font-family: 'Source Sans Pro', sans-serif;
}

#root.center{
    height: 100vh;
    // width: 100vw !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.auth_card{

    background-color: $white;
    width: 400px;
    max-width: 90%;
    margin: 30px auto;
    padding: 10px 0px;

    .brand {
        // margin: 10px 20px;
        margin-top: 0px;
        // margin-left: 30px;
        margin-bottom: 0;
        text-align: center;
    }

    form{
        padding: 10px 30px;
    }

    .auth_content{
        

        .title{
            text-align: center;
            margin: 10px 0;
            h4{
                color: $gray-600;
                font-weight: bold;
                margin: 5px 0;
                font-size: $small +3;
            }
        }

        & > .cta{
            display: block;
            
            text-align: center;
            margin-top: 5px;
            font-size: $small+3;
            color: $gray-800;

            a{
                margin-left: 10px;
                font-weight: bold;
            }
        }
    
}}

.brand{
    font-size: $extraLarge+10;
    color: $primary;
    margin: 20px 0;
    font-weight: bold;
}

// Forms
.img_uploader {

    height: 100px;
    max-width: 100%;
    // 
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    // column-gap: 5px;
    padding: 2px 0;
    border: 1px solid $gray-200;
    border-radius: 5px;

    input {
        display: none;
    }

    .preview {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 80px;
        height: 80px;
        background-color: $gray-200;
        border-radius: 50%;
        padding: 5px;

        img {
            width: 100%;
            height: auto;
        }
    }

    .upload_action {
        display: flex;
        flex-direction: column;
        // align-items: center;
        justify-content: center;

        span.msg {
            font-size: $small;
            font-style: italic;
            color: $gray-400;
            margin: 15px 0;
        }

        & .cta {
            display: flex;
            align-items: center;
            justify-content: space-evenly;

            span {
                font-size: $small;
                // background: red;
                padding: 8px 15px;
                border-radius: 10px;
                cursor: pointer;
                transition: all ease 0.3s;

                &.up {
                    background-color: lighten($color: $accent, $amount: 50%);

                    &.disabled {
                        cursor: not-allowed;
                        color: $gray-500;
                    }

                    &:not(.disabled):hover {
                        background-color: $primary;
                        color: $white;
                    }
                }

                &.del {
                    background-color: lighten($color: $red, $amount: 34%);
                    color: $gray-100;

                    &.disabled {
                        cursor: not-allowed;
                        background-color: lighten($color: $red, $amount: 18%);
                    }

                    &:not(.disabled):hover {
                        background-color: $red;
                        color: $white;
                    }
                }
            }
        }
    }

}

.form-group {
    display: flex;
    flex-direction: column-reverse;


    margin: 30px 0;

    label {
        font-weight: 600;
        font-size: $small+2;
        margin-bottom: 10px;
        margin-left: 5px;
    }

    input[required]+label {
        position: relative;
        // background: red;
        width: fit-content;


        &::after {
            content: '*';
            font-size: $small+3;
            position: absolute;
            right: -15px;
            top: -5px;
            color: $red;
        }
    }
}

.form-control {
    box-shadow: none;
    // border-radius: 3px;
    font-size: $small;

    padding: 15px 25px;
    border: 1px solid $gray-300;
    font-family: 'Source Sans Pro', sans-serif;
    color: $gray-800;

    &::placeholder {
        color: $gray-500;
    }

    outline: none;

    transition: all ease-out 0.3s;



    &:focus {
        box-shadow: none;
        outline: 1px solid $gray-300;
        // outline-width: 1;
        // outline-style: solid;
        // outline-color: $gray-400;
    }

}

.form_pager {

    width: 100%;
    overflow: hidden;
    margin: 10px 0;

    ul {
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        padding: 0;
        margin: 0;

        li {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            border: 1px solid $gray-300;
            background-color: $white;
            position: relative;

            display: flex;
            align-items: center;
            justify-content: center;

            color: $gray-500;



            &::before {
                content: '';
                position: absolute;
                left: -185%;
                top: 50%;
                height: 1px;
                width: 182%;
                background-color: $gray-200;
                // z-index: -1 !important;
            }

            &:last-of-type::after {
                content: '';
                position: absolute;
                right: -190%;
                top: 50%;
                height: 1px;
                width: 190%;
                background-color: $gray-200;
            }

        }
    }
}

// =================================================================

.error {
    display: block;
    margin: 5px 0;
    text-align: center;
    color: $red;
    font-weight: bold;
    font-size: $small;
}

.btn {
    font-size: $small;
    line-height: 1;
    
    font-weight: 600;
    font-family: 'Source Sans Pro', sans-serif;
    
    padding: 12px 15px;
    cursor: pointer;

    border: 0;
    border-radius: 8px;

    transition: all 0.1s ease-in;

    i {
        font-size: 1rem;
    }


    &.btn-sm {
        font-size: $small;
    }

    &.btn-lg {
        padding: 10px 20px;
        
        background-color: $primary;
        color: $white;

        border-radius: 8px;

        font-size: $small;
        font-weight: bold;

        

        &:hover {
            background-color: lighten($color: $primary, $amount: 10%);
        }
    }
    
    // .btn.gradient
    &.gradient {
        color: darken($color: $primary, $amount: 50%);
        background-color: $gray-300;

        &:hover {
            background-color: $primary;
            color: $white;
        }
    }

    // .btn.solid
    &.solid {
        background-color: $primary;
        color: $white;

        
        &:hover {
            background-color: lighten($color: $primary, $amount: 10%);
            color: $white;
        }
    }

    // .btn.full
    &.full {
        display: block;
        width: 80%;
        margin: 5px auto;
        padding: 15px 0;
    }

    &.btn-xs {
        padding: $small $small;
        font-size: $small;
    }

    /* Buttons with only icons */
    &.btn-icon {
        width: 31px;
        height: 31px;
        padding: 0;
    }

    /* Buttons with icon and text */
    &.btn-icon-text {
        .btn-icon-prepend {
            margin-right: .5rem;
        }

        .btn-icon-append {
            margin-left: .5rem;
        }
    }

    &.btn-social-icon {
        width: 50px;
        height: 50px;
        padding: 0;
    }
}

a{
    text-decoration: none;
    font-size: $small+3;
    color: $primary;
}


.mt{
    &-2{
        margin-top: 20px;
    }
}

.mb{
    &-2 {
        margin-bottom: 20px;
    }
}

.px{
    &-2{
        padding-left: 20px;
        padding-right: 20px;
    }
}

.d-flex{
    display: flex;
    &.flex-wrap{
        flex-wrap: wrap;
    }
    &.align-item-center{
        align-items: center;
    }
    &.justify-content{
        &-between{
            justify-content: space-between;
        }
        &-center{
            justify-content: center;
        }
        &-around{
            justify-content: space-around;
        }
    }

    &.col-gap{
        &-1{
            column-gap: 10px;
        }
        &-2{
            column-gap: 20px;
        }
        &-3{
            column-gap: 30px;
        }
    }
    &.row-gap{
        &-1{
            row-gap: 10px;
        }
        &-2{
            row-gap: 20px;
        }
        &-3{
            row-gap: 30px;
        }
    }
}


// Dashboard Styles

// Top Bar
.top_bar{
    background-color: $white;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    height: 75px;
    border-bottom: 1px solid $gray-200;
    .brand{
        font-size: $large+5;   
    }

    &>div:last-of-type{
        // background-color: red;
        display: flex;
        column-gap: 20px;


        .actions{
            display: flex;
            align-items: center;
            column-gap: 15px;

            button{
                padding: 8px 15px;
                background-color: $primary;

                color: $white;
                border: 0;
                border-radius: 5px;
            }
        }

        .account_{
            display: flex;
            align-items: center;
            column-gap: 15px;

            span{
                color: $gray-700;
                font-weight: bold;
            }
            .avatar{
                background-color: $gray-300;
                width: 40px;
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 6px;
                img{
                    width: 100%;
                    height: auto;
                }
            }
        }
    }
}

nav{
    background-color: $white;
    max-width: 100%;
    
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    height: 75px;

    column-gap: 30px;

    a{
        font-weight: bold;
        padding: 5px 20px;
        height: 100%;

        display: flex;
        flex-direction: column;
        justify-content: center;

        text-align: center;
        row-gap: 5px;

        position: relative;

        color: $gray-600;

        transition: all ease-in-out 0.3s;

        &.active,
        &:hover{
            color: $primary;
        }

        &::after {
            content: "";
            display: none;
            position: absolute;
            width: 100%;
            height: 2px;
            background-color: $gray-700;
            bottom: 0;
            left: 0;
        }

        &.active::after{
            display: block;
        }
    }
}

// Sections
section {
    margin: 10px 15px 30px 15px;
    padding: 0px 15px;

    // margin-bottom: 30px;

    .header {
        font-weight: bold;
        font-size: $medium;

        position: relative;
        overflow: hidden;

        // left: 10px;

        display: flex;
        align-items: center;
        justify-content: space-between;

        padding: 0 20px;

        margin: 0 0 20px 0;


        .section_title {
            margin: 0;
            font-size: $small+4;
            position: relative;
            // left: 70px;

            background: $gray-100;
            border-radius: 6px;
            padding: 0 10px;
        }

        .liner {
            display: block;
            position: absolute;
            width: 100%;
            height: 1px;
            background-color: $gray-300;
            top: 50%;
            left: 0%;
            z-index: -1;


        }
    }
}

.sided_section{
    margin: 10px 5px 30px 5px;
    padding: 0px ;

    display: flex;
    // align-items: center;
    justify-content: space-evenly;
    column-gap:0px;
    position: relative;
    .divider{
        background: $gray-300;
        width: 2px;
        height: 100%;
        position: absolute;
        left: 49%;
    }
    &>section{
        width: 45%;
        
        margin: 10px 5px;
        padding: 0px 10px;
        // &:first-of-type .header .liner {
        //     width: 95%;
        //     height: 1px;
        //     background-color: $gray-300;
        //     top: 50%;
        //     left: 0%;
        //     z-index: -1;
    
    
        // }
    }
}

.nav_section{
    margin-top: 0;
    .header{
        display: none;
    }

    .section_nav{
        list-style: none;
        margin: 0;
        padding:0;

        display: flex;
        align-items: center;
        li{
            width: 100%;
            background-color: $white;
            text-align: center;
            
            border: 1px solid $gray-200;
            border-top: 0;
            border-left: 0;
            &:last-of-type{
                border-right: 0;
            }

            cursor: pointer;

            &:hover{
                background-color: $gray-200;
            }

            padding: 10px;

            &.active{
                border-bottom:2px solid $primary;
                // color: $pri;
                font-weight: bold;
            }
        }
    }
}

// ================================================

.intro{
    display: flex;
    align-items: center;
    justify-content: space-between;
    // margin-bottom: 30px;

    .actions{
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 25px;
    }
}

.account_ecept{
    background-color: $white;
    width: 450px;
    max-width: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

    padding: 10px 0;

    .logo{
        width: 100px;
        height: 100px;
        background-color: $gray-300;
        display: flex;
        align-items: center;
        justify-content: center;

        img{
            width: 100%;
            height: auto;
        }
    }

    h2{
        margin: 5px 0;
    }

    p{
        margin: 5px 0;
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 10px;
        text-align: center;
        // background-color: red;
        font-size:$small;
    }

    ul{
        list-style: none;
        padding: 0;
        min-width: 50%;
        max-width: 90%;

        li{
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
            margin: 10px 0;
            column-gap: 20px;
        }
    }
}

.cards{
    display: flex;
    align-items: center;
    // justify-content: space-around;
    flex-wrap: wrap;
    column-gap: 25px;
    row-gap: 10px;
    width: 100%;
    overflow-x: auto;

    &_item{
        height: 100px;
        min-width: 200px;
        background-color: $white;
        display: flex;
        align-items: center;
        font-weight: bold;
        font-size: $medium -5;
        padding: 0 20px;
        border-radius: 6px;

        border-bottom: 3px solid $primary;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 12px;

        position: relative;
        overflow: hidden;

        h2{
            margin: 0;
            // margin-left: 10px;
        }
        // &::after{
        //     content: "";
        //     position: absolute;
        //     display: block;
        //     bottom: 0;
        //     left: 0;
        //     height: 5px;
        //     width: 100%;
        //     background-color: $primary;
        // }
    }
}


.table_container{
    background-color: $white;
    width: max-content;
    min-width: 300px;
    max-width: 95%;
    // margin: 0 auto;

    border-radius: 10px;
    height: 400px;
    // &.sm{
    //     height: 400px;
    //     overflow: auto;
    // }


    padding: 10px 5px;

    &--header{
        font-size: $medium;
        margin: 10px 15px 20px 15px;
    }

    table{
        text-align: center;
        width: 400px;
        max-width: 100%;
        th{
            padding: 10px 0;
            // width: max-content;
            // max-width: 200px;
        }

        tr:last-of-type {
            padding-bottom: 0;
        }

        td{
            padding: 14px 0;
            &:last-of-type {
                padding-bottom: 0;
            }

            &:nth-child(2){
            font-weight: bold;
        }}
    }
}


@media (max-width:780px) {
    nav{
        a{
            padding: 10px;
        }
    }

    .top_bar {
        padding: 0 10px;

        .account_ {
            span {
                display: none;
            }
        }
    }

    section{
        padding: 0;
        margin: 5px 0;
        .header {
        
                .section_title {
                
                    left: 0;
                    display: block;
                    width: fit-content;
                    // margin: 0 auto;
                }
        
                .liner {
                    display: block;
                    position: absolute;
                    width: 100%;
                    height: 1px;
                    background-color: $gray-300;
                    top: 50%;
                    left: 0%;
                    z-index: -1;
        
        
                }
            }
    }

    .sided_section {
        // margin: 10px 5px 30px 5px;

        padding: 0;
        margin: 5px 0;

        display: block;

        .divider {
            display: none;
        }

        &>section {
            width: 100%;

            margin: 40px 0;

            &:first-of-type .header .liner {
                width: 100%;
            }
        }
    }

    .intro {
        display: flex;
        flex-direction: column;
        margin-bottom: 35px;
    }

    .cards{
        flex-direction: column;

        &_item{
            width: 90%;
        }
    }

    .table_container {
        margin: 0 auto;
    }
}

@media (max-width:280px) {
    
    nav{
        a{
            padding: 10px;
        }
    }
}