@import "./variables";


.img_uploader{
    
    height: 100px;
    max-width: 100%;
    // 
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    // column-gap: 5px;
    padding: 2px 0;
    border: 1px solid $gray-200;
    border-radius: 5px;
    
    input{
        display: none;
    }
    .preview{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 80px;
        height: 80px;
        background-color: $gray-200;
        border-radius: 50%;
        padding: 5px;

        img {
                width: 100%;
                height: auto;
            }
    }

    .upload_action{
        display: flex;
        flex-direction: column;
        // align-items: center;
        justify-content: center;

        p{
            font-size: $small;
            font-style: italic;
            color: $gray-400;
        }

        .cta{
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            span{
                font-size: $small;
                // background: red;
                padding: 8px 15px;
                border-radius: 10px;
                cursor: pointer;
                transition: all ease 0.3s;
                &.up{
                    background-color: lighten($color: $accent, $amount: 50%);
                    &.disabled{
                        cursor: not-allowed;
                        color: $gray-500;
                    }
                    &:not(.disabled):hover{
                        background-color: $primary;
                        color: $white;
                    }
                }
                &.del{
                    background-color: lighten($color: $red, $amount: 34%);
                    color: $gray-100;
                    &.disabled {
                            cursor: not-allowed;
                            background-color: lighten($color: $red, $amount: 18%);
                        }
                    &:not(.disabled):hover{
                        background-color: $red;
                        color: $white;
                    }
                }
            }
        }
    }
    
}

.form-group{
    display: flex;
    flex-direction: column-reverse;

    margin: 30px 0;

    input[required]+label {
        position: relative;
        // background: red;
        width: fit-content;
        &::after{
            content: '*';
            font-size: $small+3;
            position: absolute;
            right: -15px;
            top: -5px;
            color: $red;
        }
    }
}

.form-control{
    box-shadow: none;
    border-radius: 3px;
    font-size: $small;
    
   
    &:focus{
        box-shadow: none;
    }

}

.form_pager{
    // 
    // width: 600px;
    // max-width: 100%;
    width: 100%;
    overflow: hidden;
    
    ul{
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        padding: 0;
        margin: 0;
        counter-reset: myCounter;

        li{
            width: 50px;
            height: 50px;
            border-radius: 10px;
            border: 1px solid $gray-300;
            background-color: $white;
            position: relative;
            counter-increment: myCounter;
            
            &::before{
                content: '';
                position: absolute;
                left: -150%;
                top: 50%;
                height: 1px;
                width: 400%;
                background-color: $gray-200;
                z-index: -1 !important;
            }

            &::after{
                content: counter(myCounter);
                position: absolute;
                
                color: $gray-500;
                transform: translate(220%, 50%);
            }
        }
    }
}


.error{
    display: block;
    margin: 5px 0;
    text-align: center;
    color: $red;
    font-weight: bold;
    font-size: $small;
}


footer{
    position: static;
    margin-top: 250px;
    // width: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    row-gap: 10px;

    a {
            color: $gray-500;
            display: block;
            position: relative;
        }
    

    .links{
        
        display: flex;
        align-items: center;
        column-gap: 25px;
        justify-content: center;
        a{
            // color: $gray-500;
            // display: block;
            // position: relative;
            // 
            &::after{
                content: "·";
                font-size: $large+5;
                color: $gray-500;
                position: absolute;
                right: -18px;
                top: -10px;
            }

            &:last-of-type::after{
                display: none;
            }
        }
    }

    .socials{
        // margin: 20px 0;
        
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px 0;
        text-align: center;
        
    }

    .copyright{
        
        margin: 0 0 20px 0;
    }
}

@media (max-width:780px){
    .img_uploader {
    
            height: fit-content;
            padding: 15px 0;
            row-gap: 20px;
            
            flex-direction: column;
            

    
        }
}